<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head.ejs') %>

<link rel="stylesheet" type="text/css" href="../../public/css/estilo.css"></link>

<body class="body w3-light-grey w3-content" style="max-width:1400px">

<!-- Inicio do Cabeçalho -->
  <header>
    <nav class="navbar navbar-expand-sm navbar-light" 
        style="background-color: #660066">
      <div class="container">
        <div style="position: top">
          <a href="" class="css/estilo.css">
            <img src="img/logo.png" style="margin-top: -40px; margin-left:-70px; margin-bottom:-40px" width="36%"></img> <!-- Logo -->
          </a>
        </div>
        <div class="collapse navbar-collapse" id="nav-principal">
          <ul class="navbar-nav ml-auto" style="padding: 10px">
            <li class="nav-item">
              <a href="../home" class="btn btn-outline-light ml-4">SAIR</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<!--/Fim do Cabeçalho -->

<!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-center" style="z-index:3;width:300px;" id="mySidebar"><br>
      <div class="w3-container w3-center">
          <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
          <i class="fa fa-remove"></i>
          </a>
          <img src="../img/c943a06cbb07eeba97b4af0ab7d650ef-removebg-preview.png" style="width: 50%;" class="w3-round"></img><br><br>
          <h4><b>Fantasy Whisper Team</b></h4>
          <p class="w3-text-grey">Um pouco sobre nós...</p>
      </div>

      <div class="w3-bar-block w3-padding-32 w3-center">
          <a href="/historias/novo" 
          onclick="w3_close()" 
          class="w3-bar-item w3-button w3-padding w3-text-teal">
          <i class="fa fa-book fa-fw w3-margin-right">
          </i>Adicionar História
          </a> 

          <a href="autores" 
          onclick="w3_close()" 
          class="w3-bar-item w3-button w3-padding">
          <i class="fa fa-user fa-fw w3-margin-right">
          </i>Adicionar Autor
          </a> 

          <a href="generos" 
          onclick="w3_close()" 
          class="w3-bar-item w3-button w3-padding">
          <i class="fa fa-check fa-fw w3-margin-right">
          </i>Adicionar Genero
          </a>

          <a href="usuarios" 
          onclick="w3_close()" 
          class="w3-bar-item w3-button w3-padding">
          <i class="fa fa-users fa-fw w3-margin-right">
          </i>Lista de Usuários
          </a>

          <a href="#about" 
          onclick="w3_close()" 
          class="w3-bar-item w3-button w3-padding">
          <i class="fa fa-comments fa-fw w3-margin-right">
          </i>Sobre nós
          </a>
      </div>

      <div class="w3-panel w3-large w3-center">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <i class="fa fa-twitter w3-hover-opacity"></i>
          <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
    </nav>

<!-- Efeito de sobreposição ao abrir a barra lateral em telas pequenas -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
     

<!-- Header -->
  <header id="portfolio">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-gray" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="container w3-center " >
      <h1 ><b class="w3-text-white"> Minhas histórias </b></h1>
      <div class="w3-section w3-bottombar w3-padding-16"></div>
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <br></br>
  <div class=" w3-row-padding">
      <div class="w3-card-4 w3-light-grey">
        <div class="card-body">
          <ul class="w3-ul w3-large" style="width:100%">
          <li class="w3-section w3-bottombar w3-padding-16"></li>
          <% historias.forEach(function(historia) { %>
          <li>Titulo: <%= historia.titulo %></li>
          <li>Capitulo: <%= historia.capitulo %></li>
          <li>Autor: <%= historia.autor %></li>
          <li><%= historia.conteudo %></li>
          <a href="/historias/<%= historia.id %>" class="btn btn-primary">Editar</a> 
          <a href="/historias/delete/<%= historia.id %>" class="btn btn-danger">Excluir</a>
          <% }); %>
          <li class="w3-section w3-bottombar w3-padding-16"></li>
          </ul>
        </div>
      </div>
  </div>
 
<br></br>
<h1 class="w3-text-white w3-center w3-cursive">As mais populares!</h1><br></br>
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom" >
      <img src="img/melhores-mangas-de-romance-og.jpg" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity"></img>
      <div class="w3-container w3-white">
        <p><b>História 1</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="img/EVQl6o5XQAQ618U.jpg" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity"></img>
      <div class="w3-container w3-white">
        <p><b>História 2</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="img/ATRI-My-Dear-Moments-GQCA-cp.png" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity"></img>
      <div class="w3-container w3-white">
        <p><b>História 3</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="img/1330094.png" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity"></img>
      <div class="w3-container w3-white">
        <p><b>História 4</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="img/431800-puella-magi-madoka-magica_znvf.jpg" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity"></img>
      <div class="w3-container w3-white">
        <p><b>História 5</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="img/1322308.jpeg" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity"></img>
      <div class="w3-container w3-white">
        <p><b>História 6</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div>

  <!-- Paginas -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <!-- Minhas Imagens -->
  <div class="w3-row-padding w3-padding-16" id="about">
    <div class="w3-col m4">
      <img src="img\leo-fox1.jpg" alt="Me" style="width:100%"></img>
    </div>
    <div class="w3-col m4">
      <img src="img\Furina.jpeg" alt="Me" style="width:100%"></img>
    </div>
    <div class="w3-col m4">
      <img src="img\leo-fox1.jpg" alt="Me" style="width:100%"></img>
    </div>
  </div>

  <div class="w3-container w3-padding-large w3-light-grey" style="margin-bottom:20px">
    <h4><b>Sobre mim</b></h4>
    <p>Just me, myself and I, exploring the universe of unknownment. 
      I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. 
      I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. 
      Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. 
      Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, 
      ultricies congue gravida diam non fringilla.
    </p>
    <hr>
    <hr>
  </div> 
<!-- End page content -->

<footer style="background-color: #660066">
    <div class="w3-container w3-padding-16 w3-center">
      <div class="row">
        <div class="col-md-12 ">
          <p>
            <a class="w3-hover-opacity w3-center w3-text-white">  &copy; Created by Carla Oliveira, Chien Yi Shin & Leonardo Bargeri (With initial project by Professor Marcos Nava)</a>
          </p>
        </div>
        <div class="col-md-7 d-flex justify-content-end ">
        </div>
      </div>
    </div>
  </footer>

</body>
</html>