<!DOCTYPE html >
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"      
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous">
  </link>

  <!-- Adicione isso ao cabeçalho do seu arquivo HTML -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" 
        crossorigin="anonymous">            
  </link>

  <!-- Estilo customizado -->
  <link rel="stylesheet" type="text/css" href="css/estilo.css"></link>

  <meta charset="UTF-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

  <!-- Ícones do Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"></link>

  <!-- JavaScript (Opcional) -->
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>

  <link rel="shortcut icon" type="imagem/x-icon" href="img/logo2.png" width="500%"></link>
  <title>Fantasy Whisper</title>
</head>

<!-- Inicio do Cabeçalho -->
  <header>
    <nav class="container navbar navbar-expand-sm navbar-light" style="background-color: #660066">
      <div class="container">
        <div style="position: top ;">
          <a href="" class="css/estilo.css">
            <img src="../img/logo.png" style="margin-top: -60px; margin-left: -20px; margin-bottom:-50px" width="48%"></img> <!-- Logo -->
          </a>
        </div>

        <div class="collapse navbar-collapse" id="nav-principal">
          <ul class="navbar-nav ml-auto" style="padding: 10px">
            <li class="nav-item">
              <a href="../historias" class="btn btn-outline-light ml-4">Voltar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<!--/Fim do Cabeçalho -->

<body class="body">
  <section class="container w3-padding-64">
    <div id="main-container-login ">
      <div class="container w3-card w3-padding-16">
        <h1 class="card-header w3-text-white w3-indigo">Nova Historia</h1>
          <div class="card-body">
            <form method="POST" action="/historias">
              <div class="form mb-3">
                <label class="w3-cursive" for="titulo">Titulo</label>
                  <input 
                    type="text" 
                    name="titulo" 
                    class="form-control" 
                    id="titulo" 
                    placeholder="Digite o titulo" 
                    required>
                  </input>
              </div>

              <div class="form-floating mb-3">
                <label class="w3-cursive" for="capitulo">Capitulo</label>
                  <input 
                    type="text" 
                    name="capitulo" 
                    class="form-control" 
                    id="capitulo" 
                    placeholder="Digite o capitulo" 
                    required>
                  </input>
              </div>

              <div class="form-floating mb-3">
                <label class="w3-cursive" for="conteudo">Conteudo</label>
                  <input 
                    type="text" 
                    name="conteudo" 
                    class="form-control" 
                    id="conteudo" 
                    placeholder="Digite a historia" 
                    rows="3" 
                    required>
                  </input>
              </div>
                    
              <div class="form-floating mb-3">
              <label class="w3-cursive" for="autorId">Selecione o autor</label>
                <select 
                  class="form-control" 
                  name="autorId" 
                  id="autorId">
                    <% autores.forEach(autor => { %>
                        <option value="<%= autor.id %>"><%= autor.nome %></option>
                    <%})%>
                </select>
              </div>

              <div class="form-floating mb-3">
              <label class="w3-cursive" for="generoId">Selecione o genero</label>
                <select 
                  class="form-control" 
                  name="generoId" 
                  id="generoId">
                    <% generos.forEach(genero => { %>
                        <option value="<%= genero.id %>"><%= genero.genero %></option>
                    <%})%>
                </select>
              </div>

              <div class="form-floating mb-3">
                <button 
                  type="submit" 
                  class="btn btn-primary">Salvar
                </button>
                <a href="/historias" class="btn btn-warning">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
    </div>
  </section>

  <%- include('../partials/footer.ejs') %>

</body>
</html>